<app-header></app-header>

<div *ngIf="showLoader$ | async as showLoader">
  <app-loading *ngIf="showLoader"></app-loading>
</div>

<div class="container">
  <div
    class="alert alert-success"
    *ngIf="successMessage$ | async as successMessage"
  >
    {{ successMessage }}
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage$ | async as errorMessage">
    {{ errorMessage }}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
