<div class="row">
  <div class="col-md-12">
    <h3>Posts Data</h3>

    <div class="row">
      <div class="col-md-4">
        <select class="form-select" (change)="onCategoryChange($event)">
          <option value="">select category</option>
          <option
            [value]="category.id"
            *ngFor="let category of categories$ | async"
          >
            {{ category.title }}
          </option>
        </select>
      </div>
      <div class="col-md-8 text-end">
        <a routerLink="/declarativeposts/add" class="btn btn-primary"
          >Add Post</a
        >
      </div>
    </div>

    <table class="table" *ngIf="filteredPosts$ | async as posts">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td>{{ post.categoryName }}</td>
          <td>
            <a [routerLink]="['/declarativeposts/edit', post.id]" class="btn btn-warning">Update Post</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
